<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contact-container" id="contact">
        <div class="logo-description">
            <img src="/images/logos/logo2.png" class="logo ">
            <p>In nec eros ut massa elementum sagittis vitae quis urna.<br> 
            Fusce scelerisque odio nec eleifend malesuada. 
            <br>consequat consectetur enim.Fusce quis cursus neque. 
            <br>Ut id lectus sollicitudin, semper dui vitae, lacinia tellus.
            <br>Sed faucibus, massa id auctor finibus, ipsum.</p>
        </div>
        <div class="adress">
            <h2 class="adress" id="address-header">Pen & Pixels</h2>
            <p>64, Sehgal Street</p>
            <p>Veena Society, NayanPur</p>
            <p>Arunachal Pradesh - 156971</p>
            <p>P: (123) 456-7890</p>
        </div>
        <div class="sm-logos">
            <div class="element">
                <a><i class="fa-brands fa-twitter"></i></a>
                <p>Twitter</p>
            </div>
            <div class="element">
                <a><i class="fa-brands fa-instagram"></i></a>
                <p>Instagram</p>
            </div>
            <div class="element">
                <a><i class="fa-brands fa-linkedin"></i></a>
                <p>LinkedIn</p>
            </div>
            <div class="element">
                <a><i class="fa-brands fa-github"></i></a>
                <p>GitHub</p>
            </div>
        </div>

    </div>
</body>
</html>