<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="container">
        <nav>
            <img src="/images/logos/logo2.png" class="logo">
            <ul >
                <li><a href="/" class="no-underline">Home</a></li>
                <li><a href="/show-all" class="no-underline">Posts</a></li>
                <li><a href="#contact" class="no-underline">Contact</a></li>
            </ul>
            <a href="/create" class="btn no-underline">Write a post </a>
        </nav>
    </div>
</body>
</html>